# Ignore these file types
*/OriginalContent/**
**/obj/
**/bin/
skybox.dds
GFA - Planet Ansion/

# Except for:
!*/OriginalContent/
!*/OriginalContent/Promo/
!*/OriginalContent/Promo/**

*.mod
*.sbmi
*.csproj.lscache
*.prproj
*.psd
*.prin
*.mp4
*.eps
*.svg
GFA - MES Utilities/Content/Data/Encounters/GFA_Test.sbc
